@charset "utf-8";

body{font-family: 'Microsoft YaHei',Verdana,Tahoma,Arial;position:relative}
a{color:#333;text-decoration:none}
a:hover{text-decoration:none}
a:active{color:#f60}

.panel,.panel > *:first-child:not(.badge),.panel > *:last-child{border-radius:0}
.subnav-tab > li > a{border-radius:0}

#topNavBar{border-radius:0}
	#topNavBar .navbar-nav > li + li{padding-left:10px;background-image:url(../img/breadcrumb.png);background-position:center left;background-repeat:no-repeat}
	#topNavBar .navbar-nav > li + li a{padding:0 8px}

#searchBox{position:fixed;z-index:21;top:40px;right:0}
#uwa_member a{color:#fff}

#channelNav{margin:0;background:#f2f9ff}
	#channelNav > li > a{border-radius:0}
	#channelNav > li > a > h6{margin:0;padding:4px 0;font-weight:bold}
#subChannel{padding:0 5px 9px;background:#0080ff}
	#subChannel a{color:#fff}
	#subChannel a + a{margin-left:10px}

dl.dl-horizontal:last-child{margin:0}
@media (min-width: 20em) {
	dl.dl-horizontal dt{width:84px}
	dl.dl-horizontal dd{margin-left:96px}
}

.form-horizontal .form-group{}
@media (min-width: 20em) {
	.form-horizontal .form-group .control-label{width:84px}
	.form-horizontal .form-group .control-content{margin-left:96px}
}

.big_news{}
	.big_news h4, .big_news h5{margin:5px 0;padding:0 10px;height:28px;line-height:28px;overflow:hidden}
	.big_news h6, .big_news p{margin:0;padding:0 20px;height:24px;line-height:28px;overflow:hidden}

ul.atab{}
	ul.atab li{}
		ul.atab li h5{margin:0}
ul.aul{margin:2px 0}
	ul.aul > li{position:relative;padding:0;height:36px;line-height:36px;overflow:hidden}
	ul.aul > li small{position:absolute;right:10px;background:#fff}

dl.adl{margin:0}
	dl.adl > dt{border-top:2px solid #3d6dcc;height:32px;padding:0 10px;clear:both}
		dl.adl > dt > h5{position:relative;float:left;margin:0;padding:0 10px;height:30px;line-height:24px;color:#fff;background:#3d6dcc}
	dl.adl > dd{padding:10px}

#footer{padding:10px 0 20px;background:#cfd6e6;box-shadow:0 1px 2px rgba(0,0,0,0.2) inset;text-shadow:1px 1px 0 rgba(255,255,255,0.5);}
	#footer p{margin:0}
