.snsshare{margin-right:5px;width:16px;height:16px;line-height:16px;display:inline-block;overflow:hidden;cursor:pointer;background:url(snsshare.png) no-repeat}
.ss_tqq{background-position:0 0}
.ss_tsina{background-position:0 -16px}
.ss_douban{background-position:0 -32px}
.ss_qzone{background-position:0 -96px}
.ss_renren{background-position:0 -112px}
.ss_kaixin{background-position:0 -128px}