/*s: archive thematic */
ul.aul_thematic{}
ul.aul_thematic li{padding:10px 0;border-bottom:1px solid #eee;height:120px;overflow:hidden;position:relative}
ul.aul_thematic li p.a_thumb img{padding:9px;border:1px solid #eee;width:160px;height:96px;text-align:center}
ul.aul_thematic li p.a_thumb img.hover{border:1px solid #ddd;box-shadow:0 0 2px rgba(0,0,0,0.2)}
ul.aul_thematic li h3{position:absolute;left:200px;top:9px;width:330px;height:24px;line-height:24px;overflow:hidden}
ul.aul_thematic li p.a_publish_date{position:absolute;right:10px;top:9px;width:90px;height:24px;line-height:24px;overflow:hidden}
ul.aul_thematic li p.a_info{position:absolute;left:200px;top:34px;width:420px;height:20px;line-height:20px;overflow:hidden}
ul.aul_thematic li p.a_description{position:absolute;left:200px;top:54px;width:420px;height:76px;line-height:24px;overflow:hidden;text-indent:2em}

.thematic_info{}
.thematic_info .thematic_thumb{float:left;margin:10px 20px 10px 0}
.thematic_info .thematic_abstract{padding:0 0 20px}
/*e: archive thematic */

