/* CSS */
.DynarchCalendar{border:1px solid #9dacbe;user-select:none;background:#f3f8fe;font:12px/14px 'Microsoft YaHei',Verdana,Tahoma,Arial;position:relative;cursor:default;border-radius:3px}
.DynarchCalendar table{border-collapse:collapse}
.DynarchCalendar-topBar{color:#336;border-width:1px 0;border-style:solid;border-color:#e2e7ed #9dacbe #a4acb7 #e2e7ed;background:#c4cdd7;padding:5px 0 0 0;border-radius:2px 2px 0 0}
table.DynarchCalendar-titleCont{font-size:120%;font-weight:bold;text-align:center;z-index:9;position:relative;margin-top:-6px}
.DynarchCalendar-title div{padding:5px 17px;text-shadow:1px 1px 1px rgba(255,255,255,0.5)}
.DynarchCalendar-hover-title div{border:1px solid #c4cdd7;padding:4px 16px;background:#06c url("img/drop-down.png") no-repeat 100% 50%;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,0.2) inset;color:#fff;text-shadow:0 0 5px rgba(0,0,0,0.2)}
.DynarchCalendar-pressed-title div{border:1px solid #c4cdd7;padding:4px 16px;background:#06c url("img/drop-up.png") no-repeat 100% 50%;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,0.2) inset;color:#fff;text-shadow:0 0 5px rgba(0,0,0,0.2)}
.DynarchCalendar-bottomBar{color:#336;border-top:1px solid #e2e7ed;border-left:1px solid #e2e7ed;background:#c4cdd7;padding:2px;position:relative;text-align:center;border-radius:0 0 2px 2px}
.DynarchCalendar-bottomBar-today{padding:2px 9px}
.DynarchCalendar-hover-bottomBar-today,
.DynarchCalendar-pressed-bottomBar-today{background:#06c;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,0.2) inset;color:#fff;text-shadow:0 0 5px rgba(0,0,0,0.2)}
.DynarchCalendar-body{position:relative;overflow:hidden;border-bottom:1px solid #9dacbe;color:#444}
.DynarchCalendar-body div{font-weight:bold;border-width:1px;border-style:solid;border-color:#e2e7ed #9dacbe #9dacbe #e2e7ed;background:#b9c1ca}
.DynarchCalendar-body div.DynarchCalendar-weekNumber{border-width:1px;border-style:solid;border-color:#f1f6fc #9dacbe #f1f6fc #f1f6fc;background:#f1f6fc;color:#336}
.DynarchCalendar-first-col{}
.DynarchCalendar-last-col{}
.DynarchCalendar-animBody-backYear{position:absolute;top:-100%;left:0}
.DynarchCalendar-animBody-back{position:absolute;top:5px;left:-100%}
.DynarchCalendar-animBody-fwd{position:absolute;top:5px;left:100%}
.DynarchCalendar-animBody-now{position:absolute;top:5px;left:0}
.DynarchCalendar-animBody-fwdYear{position:absolute;top:100%;left:0}
.DynarchCalendar-dayNames{padding:0;border-top:1px solid #0056ae;background:#0069d4;color:#fff;text-shadow:0 0 5px rgba(0,0,0,0.2);box-shadow:0 0 2px rgba(0,0,0,0.1)}
.DynarchCalendar-dayNames table td{}
.DynarchCalendar-dayNames div{font-weight:bold;border-width:1px;border-style:solid;border-color:#0072e6 #0056ae #0056ae #0072e6}
.DynarchCalendar-navBtn{position:absolute;top:5px;z-index:10}
.DynarchCalendar-navBtn div{background-repeat:no-repeat;background-position:50% 50%;height:15px;width:16px;padding:1px}
.DynarchCalendar-hover-navBtn div{border:1px solid #000;padding:0;background-color:#fff}
.DynarchCalendar-navDisabled{opacity:0.3;filter:alpha(opacity=30)}
.DynarchCalendar-pressed-navBtn div{border:1px solid #000;padding:0;background-color:#777;color:#fff}
.DynarchCalendar-prevMonth{left:25px}
.DynarchCalendar-nextMonth{left:100%;margin-left:-43px}
.DynarchCalendar-prevYear{left:5px}
.DynarchCalendar-nextYear{left:100%;margin-left:-23px}
.DynarchCalendar-prevMonth div{background-image:url("img/nav-left.png")}
.DynarchCalendar-nextMonth div{background-image:url("img/nav-right.png")}
.DynarchCalendar-prevYear div{background-image:url("img/nav-left-x2.png")}
.DynarchCalendar-nextYear div{background-image:url("img/nav-right-x2.png")}
.DynarchCalendar-menu{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#0056ae;color:#fff;overflow:hidden;opacity:0.95;filter:alpha(opacity=95)}
.DynarchCalendar-menu table td div{text-align:center;font-weight:bold;padding:3px 5px}
.DynarchCalendar-menu table td div.DynarchCalendar-menu-month{width:4em;text-align:center}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn{border:1px solid #004d99;padding:2px 4px;background-color:#fff;color:#0056ae}
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn{border:1px solid #004d99;padding:2px 4px;background-color:#036;color:#fff !important}
.DynarchCalendar-menu-year{text-align:center;color:#0056ae;font:16px 'Microsoft YaHei',Verdana,Tahoma,Arial;font-weight:bold}
.DynarchCalendar-menu-sep{height:1px;font-size:1px;line-height:1px;overflow:hidden;border-top:1px solid #888;background:#fff;margin-top:4px;margin-bottom:3px}
.DynarchCalendar-time td{font-weight:bold}
.DynarchCalendar-time-hour,.DynarchCalendar-time-minute{padding:1px 3px}
.DynarchCalendar-time-down{background:url("img/time-down.png") no-repeat 50% 50%;width:11px;height:8px;opacity:0.5}
.DynarchCalendar-time-up{background:url("img/time-up.png") no-repeat 50% 50%;width:11px;height:8px;opacity:0.5}
.DynarchCalendar-time-sep{padding:0 2px}
.DynarchCalendar-hover-time{background-color:#444;color:#fff;opacity:1}
.DynarchCalendar-pressed-time{background-color:#000;color:#fff;opacity:1}
.DynarchCalendar-time-am{padding:1px;width:2.5em;text-align:center}

/* body */
.DynarchCalendar-hover-week{background-color:#f2f2f2}
.DynarchCalendar-dayNames div,.DynarchCalendar-day,.DynarchCalendar-weekNumber{width:1.7em;padding:3px 4px;text-align:center}
.DynarchCalendar-weekNumber{width:2em !important;padding-right:8px !important}
.DynarchCalendar-day{text-align:center;color:#333}
.DynarchCalendar-day-othermonth{color:#999;border-width:1px;border-style:solid;border-color:#e6ecf8 #c4cad6 #c4cad6 #e6ecf8 !important;background:#dde2e8 !important}
.DynarchCalendar-weekend{color:#c00}
.DynarchCalendar-day-today{color:#fff;font-weight:bold;background:#6985b0 !important;box-shadow:0 0 3px rgba(0,0,0,0.5) inset}
.DynarchCalendar-day-disabled{opacity:0.5;text-shadow:1px 1px 1px #fff}
.DynarchCalendar-hover-date{background-color:#fff;border:1px solid #ccc;margin:0 !important;color:#06f}
.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date{color:#888;background:#fff}
.DynarchCalendar-dayNames .DynarchCalendar-weekend{color:#c00}
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend{color:#c99}
.DynarchCalendar-day-selected{background-color:#4397ea !important;color:#fff !important;box-shadow:0 0 3px rgba(0,0,0,0.5) inset}
.DynarchCalendar-day-today.DynarchCalendar-day-selected{background-color:#06f}

/* focus */
.DynarchCalendar-focusLink{position:absolute;opacity:0;filter:alpha(opacity=0)}
.DynarchCalendar-focused{box-shadow:2px 2px 5px rgba(0,0,0,0.2)}
.DynarchCalendar-focused .DynarchCalendar-topBar,.DynarchCalendar-focused .DynarchCalendar-bottomBar{}
.DynarchCalendar-focused .DynarchCalendar-hover-week{background-color:#f2f2f2}
.DynarchCalendar-tooltip{position:absolute;top:100%;width:100%}
.DynarchCalendar-tooltipCont{margin:0 5px 0 5px;border:1px solid #aaa;border-top:0;padding:3px 6px;background:#ddd}
.DynarchCalendar-focused .DynarchCalendar-tooltipCont{background:#ccc;border-color:#000}


