/*s: guestbook */
.guestbook_list li{position:relative}
	.guestbook_main{position:relative;padding:10px 0;border:1px solid #e5e5e5;width:500px;background:#fff}
		.guestbook_main p{padding:0 10px}
			.guestbook_content{text-indent:2em}
	.guestbook_reply{padding-left:10px;width:220px;background:url(../img/guestbook_bg.gif) left top no-repeat;position:absolute;top:-1px;right:0;z-index:2}
		.guestbook_reply p{padding:5px 10px;border:1px solid #fb9;border-left:4px solid #fb9;line-height:19px;background:#fff7e5}
/*e: guestbook */

