/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,button,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0 none;vertical-align:middle}
ol,ul{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
abbr,acronym{border:0}
input,select,button{vertical-align:middle;outline:none}
a,.a{outline:none;cursor:pointer}
/* end-reset */

html{overflow:hidden}
body{font:13px/27px 'Microsoft YaHei',Verdana,Tahoma,Arial;color:#333;background:#fff;overflow:hidden}
a{color:#3d6dcc;text-decoration:none}
a:hover{text-decoration:underline}
a:active{color:#c30}
.clear{clear:both}
.h{display:none}
input,textarea,select{font:13px/17px 'Microsoft YaHei',Verdana,Tahoma,Arial;color:#333}
select{font-size:12px}
input.i,textarea.i{margin-right:5px;padding:3px 5px;color:#333;border:1px solid #ccc;;box-shadow:0 1px 2px rgba(0,0,0,0.1) inset}
input.hover,textarea.hover{border:1px solid #aaa !important;background:#fff !important;box-shadow:0 1px 2px rgba(0,0,0,0.2) inset}
input.focus,textarea.focus{border:1px solid #6af !important;background:#fff !important;box-shadow:0 1px 2px rgba(0,0,0,0.2) inset}
input.warning,textarea.warning{border:1px solid #f60;background:#fff0e5}

/*s: page list */
#page_list{margin:10px 0 20px;height:28px;padding:0 10px;font-size:12px;line-height:24px;text-align:center}
.firstPage,.prevPage,.nearPage,.currentPage,.nextPage,.lastPage,.total{display:inline-block;padding:5px 9px;background:#2e5299;font-size:12px;line-height:16px;color:#7a96cc}
.firstPage{border-radius:3px 0 0 3px}
.total{border-radius:0 3px 3px 0}
a.firstPage,a.prevPage,a.nearPage,a.nextPage,a.lastPage{color:#fff}
.currentPage,a.firstPage:hover,a.prevPage:hover,a.nearPage:hover,a.nextPage:hover,a.lastPage:hover{background:#1f3666;text-decoration:none;color:#fff}
.currentPage{font-weight:bold;background:#3d6dcc;text-shadow:0 0 5px rgba(0,0,0,0.5)}
/*e: page list */

/*asthis center box*/
dl.acbox{position:absolute;z-index:999;border:#aaa 1px solid;border-radius:5px;box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);background:#fff}
dl.acbox dt{background:#f2f2f2;padding:0 10px;height:30px;color:#333;font-size:14px;font-weight:bold;line-height:30px;border-radius:4px 4px 0 0;text-shadow:0 0 2px rgba(255, 255, 255, 0.5);border-bottom:1px solid #d9d9d9}
dl.acbox dd{padding:10px;color:#666}

/* a,span,input,button */
.btn_l, .btn_b{display:inline-block;padding:2px 8px;height:20px;font-weight:bold;cursor:pointer;font-size:13px;line-height:20px;text-align:center;vertical-align:middle;background-image:url(../img/repeat_x_bg.gif);background-repeat:repeat-x;box-shadow:0 0 2px rgba(0, 0, 0, 0.1)}
.btn_l:hover, .btn_b:hover{text-decoration:none;box-shadow:0 0 2px rgba(0, 0, 0, 0.4)}
	.btn_l{border:1px solid #ccc;color:#333;background-color:#e5e5e5;background-position:0 -90px}
	.btn_l:hover{border:1px solid #aaa;color:#000;background-position:0 -90px}
	.btn_b{border:1px solid #3d6b99;color:#def;background-color:#528fcc;background-position:0 0}
	.btn_b:hover{border:1px solid #3d6b99;color:#fff;background-position:0 -60px}
input.btn_l, input.btn_b, button.btn_l, button.btn_b{height:26px;line-height:13px}

.btn_upload{display:inline-block;height:24px;font-weight:bold;cursor:pointer;border:1px solid #ccc;color:#333;font-size:13px;line-height:24px;text-align:center;vertical-align:middle;background-image:url(../img/repeat_x_bg.gif);background-repeat:repeat-x;background-color:#e5e5e5;background-position:0 -90px;box-shadow:0 0 2px rgba(0, 0, 0, 0.1)}
.btn_upload:hover{text-decoration:none;box-shadow:0 0 2px rgba(0, 0, 0, 0.4);border:1px solid #aaa;color:#000;background-position:0 -90px}

/* status */
.status{display:inline-block;height:20px;border:1px solid #d9d9d9;background:#e5e5e5;border-radius:3px;font-size:12px;line-height:20px}
.status b{display:inline-block;height:20px;padding:0 3px;background:#fff;border-radius:3px 0 0 3px;border-right:1px solid #d9d9d9;font-weight:bold}
	.status b.on{color:#090}
	.status b.off{color:#c00}
.status a{display:inline-block;padding:0 3px;color:#666}

/*s: common */
.c{clear:both !important}
.h{display:none !important}
.o_h{overflow:hidden !important}

/* font */
.fc_wht{color:#fff !important}
.fc_blk{color:#000 !important}
.fc_r{color:#c00 !important}
.fc_g{color:#090 !important}
.fc_b{color:#06c !important}
.fc_gry_d{color:#333 !important}
.fc_gry{color:#999 !important}
.fc_gry_l{color:#f2f2f2 !important}

.fs_11{font-size:11px !important}
.fs_12{font-size:12px !important}
.fs_13{font-size:13px !important}
.fs_14{font-size:14px !important}
.fs_16{font-size:16px !important}
.fs_18{font-size:18px !important}

.lh_0{line-height:0 !important}
.lh_20{line-height:20px !important}
.lh_40{line-height:40px !important}

.ta_r{text-align:right !important}
.ta_l{text-align:left !important}

.fw_b{font-weight:bold !important}
.fw_n{font-weight:normal !important}

.ta_l{text-align:left !important}
.ta_c{text-align:center !important}
.ta_r{text-align:right !important}

.td_n{text-decoration:none !important}
.td_o{text-decoration:overline !important}
.td_lt{text-decoration:line-through !important}
.td_u{text-decoration:underline !important}

.ti_2em{text-indent:2em}

.bg_wht{background:#fff !important}
.bg_blk{background:#000 !important}
.bg_r{background:#c00 !important}
.bg_g{background:#090 !important}
.bg_b{background:#06c !important}
.bg_gry_d{background:#333 !important}
.bg_gry{background:#999 !important}
.bg_gry_l{background:#f2f2f2 !important}

.br_3{border-radius:3px !important}
.br_5{border-radius:5px !important}
.br_10{border-radius:10px !important}

.br_wht{border:1px solid #fff !important}
.br_blk{border:1px solid #000 !important}
.br_r{border:1px solid #c00 !important}
.br_g{border:1px solid #090 !important}
.br_b{border:1px solid #06c !important}
.br_gry_d{border:1px solid #333 !important}
.br_gry{border:1px solid #999 !important}
.br_gry_l{border:1px solid #f2f2f2 !important}

.p_2{padding:2px !important}
.p_3{padding:3px !important}
.p_5{padding:5px !important}
.p_10{padding:10px !important}
.p_20{padding:20px !important}
.p_0_2{padding:0 2px !important}
.p_0_5{padding:0 5px !important}
.p_0_10{padding:0 10px !important}
.p_0_20{padding:0 20px !important}
.p_2_5{padding:2px 5px !important}

.h_10{height:10px;font-size:0}
.h_20{height:20px;font-size:0}

.f_l{float:left}
.f_r{float:right}

.hr_l{border:none;border-top:1px solid #ccc;border-bottom:1px solid #fff;height:0;font-size:0;overflow:hidden}
.vr_l{border:none;border-left:1px solid #ccc;border-right:1px solid #fff;width:0;font-size:0;overflow:hidden}

/*s:order list*/
.ol{list-style:inside decimal none}
/*e:order list*/

/*s: asthis icon */
.ai{display:inline-block;*display:inline;*zoom:1;*margin-right:5px;*line-height:1px;overflow:hidden;vertical-align:middle}
.ai_16{width:16px;height:16px;line-height:16px !important;background:url(../img/ai_16/_blank.png) 0 0 no-repeat}
.ai_16_file_type_folder{background-image:url(../img/ai_16/file_type_folder.png)}
.ai_16_file_type_acc{background-image:url(../img/ai_16/file_type_acc.png)}
.ai_16_file_type_ai{background-image:url(../img/ai_16/file_type_ai.png)}
.ai_16_file_type_doc{background-image:url(../img/ai_16/file_type_doc.png)}
.ai_16_file_type_pdf{background-image:url(../img/ai_16/file_type_pdf.png)}
.ai_16_file_type_ppt{background-image:url(../img/ai_16/file_type_ppt.png)}
.ai_16_file_type_psd{background-image:url(../img/ai_16/file_type_psd.png)}
.ai_16_file_type_swf{background-image:url(../img/ai_16/file_type_swf.png)}
.ai_16_file_type_xml{background-image:url(../img/ai_16/file_type_xml.png)}
.ai_16_file_type_text{background-image:url(../img/ai_16/file_type_text.png)}
.ai_16_file_type_other{background-image:url(../img/ai_16/file_type_other.png)}
.ai_16_file_type_7z{background-image:url(../img/ai_16/file_type_rar.png)}
.ai_16_file_type_rar{background-image:url(../img/ai_16/file_type_rar.png)}
.ai_16_file_type_zip{background-image:url(../img/ai_16/file_type_zip.png)}
.ai_16_file_type_html{background-image:url(../img/ai_16/file_type_html.png)}
.ai_16_file_type_php{background-image:url(../img/ai_16/file_type_php.png)}
.ai_16_file_type_css{background-image:url(../img/ai_16/file_type_code.png)}
.ai_16_file_type_js{background-image:url(../img/ai_16/file_type_code.png)}
.ai_16_file_type_gif{background-image:url(../img/ai_16/file_type_img.png)}
.ai_16_file_type_png{background-image:url(../img/ai_16/file_type_img.png)}
.ai_16_file_type_jpg{background-image:url(../img/ai_16/file_type_img.png)}
.ai_16_file_type_jpeg{background-image:url(../img/ai_16/file_type_img.png)}
/*e: asthis icon */

dl.adl{border:1px solid #e5e5e5;border-radius:3px}
dl.adl dt{padding:0 10px;border-width:1px;border-style:solid;border-color:#fff #ccc #ccc #fff;border-radius:1px 1px 0 0;height:27px;line-height:27px;position:relative;background:url(../img/repeat_x_bg.gif) 0 -120px repeat-x}
	dl.adl dt strong{margin:0 5px 0 0;height:27px;line-height:27px;display:inline-block;color:#666}
	dl.adl dt span{position:absolute;right:10px;color:#7a96cc}
	dl.adl dt span a{color:#7a96cc;text-decoration:none}
dl.adl dd{padding:10px;border-radius:0 0 1px 1px;clear:both;background:#fff}

ul.aul{}/*common list include image*/
ul.aul li{position:relative;padding:0 0 0 10px;height:27px;overflow:hidden}
ul.aul li span{position:absolute;top:0;right:10px}

ul.aul_1{}/*float left*/
ul.aul_1 li{padding:0 10px;height:27px;overflow:hidden;float:left}

.uploadify{display:inline-block;*display:inline;*zoom:1;margin-right:5px}
.uploadify-queue{margin-bottom:10px}
.uploadify-queue-item{background-color:#f5f5f5;margin-top:5px;max-width:350px;padding:10px;border-radius:3px}
.uploadify-error{background-color:#fde5dd !important}
.uploadify-queue-item .cancel a{background:url('../img/uploadify-cancel.png') 0 0 no-repeat;float:right;height:16px;text-indent:-9999px;width:16px}
.uploadify-queue-item.completed{background-color:#e5e5e5}
.uploadify-progress{background-color:#e5e5e5;margin-top:10px;width:100%}
.uploadify-progress-bar{background-color:#09f;height:3px;width:1px}

/*s: menu icon */
.mi{display:inline-block;*display:inline;*zoom:1;*margin-right:5px;*line-height:1px;overflow:hidden;vertical-align:middle}
.mi_16{width:16px;height:16px;line-height:16px !important;background:url(../img/mi_16/_blank.png) 0 0 no-repeat}

.mi_24{width:24px;height:24px;line-height:24px !important;background:url(../img/mi_24/_blank.png) 0 0 no-repeat}
.mi_24_{background:url(../img/mi_24/_blank.png)}
.mi_24_content{background:url(../img/mi_24/content.png)}
.mi_24_member{background:url(../img/mi_24/member.png)}
.mi_24_system{background:url(../img/mi_24/system.png)}
.mi_24_maintenance{background:url(../img/mi_24/maintenance.png)}
.mi_24_module{background:url(../img/mi_24/module.png)}
.mi_24_extension{background:url(../img/mi_24/extension.png)}
.mi_24_totop{background:url(../img/mi_24/totop.png)}
.mi_24_refresh{background:url(../img/mi_24/refresh.png)}
.mi_24_tobottom{background:url(../img/mi_24/tobottom.png)}

.mi_32{width:32px;height:32px;line-height:32px !important;background:url(../img/mi_32/_blank.png) 0 0 no-repeat}
.mi_32_{background:url(../img/mi_32/_blank.png)}
.mi_32_info{background:url(../img/mi_32/info.png)}
/*e: menu icon */

